{% extends "layout/base.html" %}
{% load static %}
{% block library %}
<link rel="stylesheet" href="{% static "book/css/home.css" %}">

{% if user.is_staff %}
<h3>Todos usuários</h3>
<div class="cards__container">

    {% for user in users.all %}
    <div class="std_card card">
        <img class="std_img" src="{{user.img.url}}" alt="" />
        <p class="name">{{user.first_name}} {{user.last_name}}</p>
        <p class="author">ID {{user.id}}</p>
        <p class="status" style="color:green">Em posse de {{user.books.all.count}} livros</p>
        <br>

        <a href="{% url 'std_profile' user.pk %}" class="book_btn">Ver mais</a>
    </div>
    {%endfor%}


</div>

{% endif %}
{%endblock library%}