{% extends "layout/base.html" %}
{% load static %}
{% block library %}
<link rel="stylesheet" href="{% static "book/css/home.css" %}">
<link rel="stylesheet" href="{% static "administrator/css/delete_edit.css" %}">
{% if user.is_staff %}
<a class='edit_btn' href=" {% url 'administrator:add_book' %}">Adicionar Livro</a>
{% endif %}
<h3>Todos os Livros</h3>
<div class="cards__container">
    {% for book in books %}
    <div class="card">
        <img class="book_img" src="{{book.img.url}}" alt="" />
        <p class="name">{{book.title}}</p>
        <p class="author">{{book.author}}</p>
        <p class="status">{{book.status}}</p>
        <p class="author">{{book.copies}}</p>
        <a href="{%url 'book:book_detail' book.pk %}"><button class="book_btn">Ver Mais</button></a>
    </div>
    {% endfor %}
</div>
<script src="{% static "book/js/book_status.js" %}"></script>

{% endblock library%}